---
import { CartProvider } from "../../contexts/CartContext.jsx";
import AllProductsIsland from "../../components/AllProductsIsland.jsx";
import Navbar from '../../components/Navbar.astro';
import FloatingStars from '../../components/FloatingStars.astro';
---

<Navbar />
<FloatingStars />


<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="../../../assets/favicon.svg"/>
    <title>Store - All Products</title>
  </head>
  <body class="bg-background dark:bg-background-dark text-text dark:text-text-dark">
    <div class="container mx-auto px-4 py-12">
      <h1 class="text-4xl font-bold text-center mb-8">Shop All Products</h1>

      <CartProvider>
        <AllProductsIsland client:load />
      </CartProvider>

    </div>
    <section class="h-screen w-full flex items-center justify-center text-4xl snap-start bg-red-300 opacity-90">
        Section 1
      </section>
    
      <section class="h-screen w-full flex items-center justify-center text-4xl snap-start bg-green-300 opacity-90">
        Section 2
      </section>
    
      <section class="h-screen w-full flex items-center justify-center text-4xl snap-start bg-blue-300 opacity-90">
        Section 3
      </section>
    
      <section class="h-screen w-full flex items-center justify-center text-4xl snap-start bg-yellow-300 opacity-90">
        Section 4
      </section>

</body>
</html>